*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 
    linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);

}

.container {
    max-width: 600px;
    background: #fff;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    box-shadow: 0 2px 2px 3px rgba(0,0,0,0.1);
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e4e1e1;
}

.add {
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #8bc34a;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* dynamic Class Creation CSS */

.flex{
    display: flex;
    gap: 1.5em;
    margin-bottom: 15px;
}

.delete{
    text-decoration: none;
    display: inline-block;
    background: #f44336;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 30px;
    height: 30px;
    color: #fff;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input{
    padding: 8px 10px;
    background: #ddd;
    border: none;
    width: 50%;
    border-radius: 5px;
}

input:focus{
    outline: 1px solid #efefef;

}

